* body
{
margin: 0;
padding: 0;
background-color:#fff;

}


/* header */

.header
{
    height: 60px;
    width: 100%;
    background-color: #047BD5;
   
    

}
.img
{
  height: 6pc;
  margin-top: -20px;
  margin-left: 5pc;
}
.input
{
   
   position: absolute;
   margin-top: 10px;
   margin-left: 1pc;
   height: 35px;
   width: 500px;
   padding-left: 10px;
   border: none;

}

#search
{
 position:absolute;
 margin-top: 1.29pc;
 margin-left: 31pc;
 color: #047BD5;
}
.login
{
    position: absolute;
    margin-top: 11px;
    margin-left: 35pc;
    height: 35px;
    width: 120px;
    color: #047BD5;
    font-weight: bold;
    cursor: pointer;
    background-color: white;
    border: none;
}
.seller
{
    position: absolute;
    margin-top: 15px;
    margin-left: 44pc;
    height: 33px;
    width: 130px;
    background-color: #047BD5 ;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.more
{
    position: absolute;
    margin-top: 15px;
    margin-left: 54pc;
    height: 33px;
    width: 20px;
    background-color: #047BD5 ;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.cart
{
    position: absolute;
    margin-top: 15px;
    margin-left: 60pc;
    height: 33px;
    width: 20px;
    background-color: #047BD5 ;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
#cartlogo
{
    position: absolute;
    color: white;
    margin-left: 59pc;
    margin-top: 22px;
}

/* Product images with name  */
.productimages
{
    position: absolute;
    height: 120px;
    width: 100%;
    background-color:white   ;
    
}
.surf
{
    position: absolute;
    height: 80px;
    margin-left: 5pc;
    margin-top: 1pc;
 
}
.grocery
{
    position: absolute;
    color: black;
    margin-top: 90px;
    font-size: 15px;
    margin-left: 5.5pc;
    font-weight: 100;
    font-family: Arial;
}
.mobileimg
{
    position: absolute;
    height: 80px;
    margin-left: 13pc;
    margin-top: 1pc;
 
}
.mobilestext
{
    position: absolute;
    color: black;
    margin-top: 90px;
    font-size: 15px;
    margin-left: 14pc;
    font-weight: 100;
    font-family: Arial;
}
.fashionimg
{
    position: absolute;
    height: 80px;
    margin-left:21pc;
    margin-top: 6px;
}
.fashiontext
{
    position: absolute;
    color: black;
    margin-top: 90px;
    font-size: 15px;
    margin-left: 22pc;
    font-weight: 100;
    font-family: Arial;
}
.laptopimg
{
    position: absolute;
    height: 90px;
    margin-left: 30pc;
    margin-top: 1px;
 
}
.electronics
{
    position: absolute;
    color: black;
    margin-top: 88px;
    font-size: 14px;
    margin-left: 30.5pc;
    font-weight: 100;
    font-family: Arial; 
}
.appliancesimg
{
    position: absolute;
    height: 80px;
    margin-left: 40pc;
    margin-top: 10px;
}
.appliancestext
{
    position: absolute;
    color: black;
    margin-top: 85px;
    font-size: 15px;
    margin-left: 40pc;
    font-weight: 100;
    font-family: Arial;
}
.travelimg
{
    position: absolute;
    height: 80px;
    margin-left: 50pc;
 
}
.traveltextt
{
    position: absolute;
    color: black;
    margin-top: 85px;
    font-size: 15px;
    margin-left: 51pc;
    font-weight: 100;
    font-family: Arial;

}
.toysimg
{
    position: absolute;
    height: 70px;
    margin-left: 60pc;
    margin-top: 15px;
}
.toystext
{
    position: absolute;
    color: black;
    margin-top: 85px;
    font-size: 15px;
    margin-left: 58.5pc;
    font-weight: 100;
    font-family: Arial;
}
.wheelerimg
{
    position: absolute;
    height: 70px;
    margin-left: 70.5pc;
    margin-top: 15px;
}
.wheelertext
{
    position: absolute;
    color: black;
    margin-top: 85px;
    font-size: 15px;
    margin-left: 70pc;
    font-weight: 100;
    font-family: Arial; 
}
/* slider coding */
.div1
{

    background-color: rgb(233, 227, 227);
    margin-top: 10px;
}

        #slider{
            overflow: hidden;
        }
        #slider figure{
            position: relative;
            width: 500%;
            margin: 0;
            left: 0;
            animation: 20s slider infinite;
        }
        #slider img{
            height: 400px;
            width: 20%;
            float: left;
            margin-top: 150px;
        }
        @keyframes slider{
            0%{
                left: 0;
            }
            20%{
                left: 0;
            }
            25%{
                left: -100%;
            }
            45%{
                left: -100%;
            }
            50%{
                left: -200%;
            }
            70%{
                left: -200%;
            }
            75%{
                left: -300%;
            }
            95%{
                left: -300%;
            }
            100%{
                left: 0;
            }
        }
    
.div2
{
    margin-top: 20px;
    height: 400px;
    background-color: white;
    box-shadow: -4px 5px 18px 0px rgb(12, 11, 11);
-webkit-box-shadow: -4px 5px 18px 0px rgb(15, 13, 13);
-moz-box-shadow: -4px 5px 18px 0px rgb(9, 7, 7);
width: 100%;
}
.bestofelectronics
{
position: absolute;
font-size: 25px;
font-weight: 400;
font-family: Arial;
margin-left: 2pc;
margin-top: 7pc;
}
.viewall
{
    position:absolute;
    background-color:#047BD5 ;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    margin-top:13pc;
    margin-left: 1.5pc;
    cursor: pointer;
    padding-top: 5px;

}
.grinder
{
    position:absolute;
    height: 190px;
    margin-left: 14pc;
    margin-top: 2.5pc;
     
}
.topdeal
{
    position: absolute;
    font-size: 14px;
    margin-top: 15.5pc;
    margin-left: 10.5pc;
    font-weight: 500;
    font-family: Arial; 
}
.shopnow
{
    position: absolute;
    color: green;
    margin-top: 17pc;
    margin-left: 14pc;
    font-weight: 600;
    font-size: 17px;
    font-family: Arial;
}
.p2
{
    font-family: Arial;
color: gray;
position: absolute;
margin-left: 11.5pc;
margin-top: 19pc;
font-family: Arial;
}

.printer
{
    position:absolute;
    height: 120px;
    margin-left: 27pc;
    margin-top: 3pc;
    font-family: Arial;

}
.printertext
{
    position: absolute;
    font-size: 14px;
    margin-top: 15pc;
    margin-left: 30pc;
    font-weight: 500;
    font-family: Arial;

}
#printertext
{
    position: absolute;
    color: green;
    font-family: Arial;
    margin-left: 29pc;
    margin-top: 17pc;
    font-weight: 600;
    font-family: Arial;

}
.p6
{
    font-family: Arial;
    color: gray;
    position: absolute;
    margin-left: 31pc;
    margin-top: 19pc;
    font-family: Arial;
}
.camera
{
    position:absolute;
    height: 120px;
    margin-left: 42pc;
    margin-top: 2.5pc;
    font-family: Arial;

}
.cameratext
{
    position: absolute;
    font-size: 14px;
    margin-top: 15pc;
    margin-left: 43pc;
    font-weight: 500;
    font-family: Arial;

}
#cameratext
{
    position: absolute;
    color: green;
    font-family: Arial;
    margin-left: 44pc;
    margin-top: 17pc;
    font-weight: 600;
    font-family: Arial;
}
.p4
{
    font-family: Arial;
    color: gray;
    position: absolute;
    margin-left:42pc;
    margin-top: 19pc;
    font-family: Arial;
}
.monitor
{
    position:absolute;
    height: 130px;
    margin-left: 57pc;
    margin-top:4pc;
    font-family: Arial;

}
.monitortext
{
    position: absolute;
    font-size: 14px;
    margin-top: 15pc;
    margin-left: 59pc;
    font-weight: 500;
    font-family: Arial;

}
#monitortext
{
    position: absolute;
    color: green;
    font-family: Arial;
    margin-left: 58.5pc;
    margin-top: 17pc;
    font-weight: 600;
    font-family: Arial;
    font-size: 15px;

}
.p5
{
    font-family: Arial;
    color: gray;
    position: absolute;
    margin-left:59.5pc;
    margin-top: 19pc;
    font-family: Arial; 
}
.headphone
{
    position:absolute;
    height: 150px;
    margin-left: 70pc;
    margin-top:4pc;
    font-family: Arial;

}
.headphonetext
{
    position: absolute;
    font-size: 15px;
    margin-top: 15pc;
    margin-left: 72pc;
    font-weight: 500;
    font-family: Arial;

}
#headphonetext
{
    position: absolute;
    color: green;
    font-family: Arial;
    margin-left: 71.5pc;
    margin-top: 17pc;
    font-weight: 600;
    font-family: Arial;
    font-size: 15px;

}
.p6
{
    font-family: Arial;
    color: gray;
    position: absolute;
    margin-left:71.5pc;
    margin-top: 19pc;
    font-family: Arial; 
}
/* hover on product images  */
#zoom:hover
{
    transform: scale(1.1);
    
}

/* <!-- Beauty Food Toys & More  --> */

.beautytoystext
{
position: absolute;
font-size: 25px;
font-weight: 400;
font-family: Arial;
margin-left: 1.5pc;
margin-top: 7pc;
}
.viewall1
{
    position:absolute;
    background-color:#047BD5 ;
    border: none;
    color: white;
    height: 40px;
    width: 100px;
    margin-top:13pc;
    margin-left: 1.5pc;
    cursor: pointer;
    padding-top: 5px;

}
.bat
{
    position:absolute;
    height: 190px;
    margin-left: 16pc;
    margin-top: 2.5pc;
     
}
.battopdeal
{
    position: absolute;
    font-size: 14px;
    margin-top: 15.5pc;
    margin-left: 12pc;
    font-weight: 500;
    font-family: Arial; 
}
.batshopnow
{
    position: absolute;
    color: green;
    margin-top: 17pc;
    margin-left: 13pc;
    font-weight: 600;
    font-size: 17px;
    font-family: Arial;
}
.batp2
{
    font-family: Arial;
color: gray;
position: absolute;
margin-left: 11.5pc;
margin-top: 19pc;
font-family: Arial;
}

.helmet
{
    position:absolute;
    height: 120px;
    margin-left: 30pc;
    margin-top: 3pc;
    font-family: Arial;

}
.helmettext
{
    position: absolute;
    font-size: 14px;
    margin-top: 15pc;
    margin-left: 30pc;
    font-weight: 500;
    font-family: Arial;

}
#helmettext
{
    position: absolute;
    color: green;
    font-family: Arial;
    margin-left: 30.5pc;
    margin-top: 17pc;
    font-weight: 600;
    font-family: Arial;

}
.helmetp3
{
    font-family: Arial;
    color: gray;
    position: absolute;
    margin-left: 26pc;
    margin-top: 19pc;
    font-family: Arial;
}
.cycle
{
    position:absolute;
    height: 120px;
    margin-left: 42pc;
    margin-top: 2.5pc;
    font-family: Arial;

}
.cycletext
{
    position: absolute;
    font-size: 14px;
    margin-top: 15pc;
    margin-left: 45pc;
    font-weight: 500;
    font-family: Arial;

}
#cycletext
{
    position: absolute;
    color: green;
    font-family: Arial;
    margin-left: 45pc;
    margin-top: 17pc;
    font-weight: 600;
    font-family: Arial;
}
.cyclep4
{
    font-family: Arial;
    color: gray;
    position: absolute;
    margin-left:46pc;
    margin-top: 19pc;
    font-family: Arial;
}
.dumbell
{
    position:absolute;
    height: 130px;
    margin-left: 58pc;
    margin-top:4pc;
    font-family: Arial;

}
.dumbelltext
{
    position: absolute;
    font-size: 14px;
    margin-top: 15pc;
    margin-left: 59.5pc;
    font-weight: 500;
    font-family: Arial;

}
#dumbelltext
{
    position: absolute;
    color: green;
    font-family: Arial;
    margin-left: 58.2pc;
    margin-top: 17pc;
    font-weight: 6  00;
    font-family: Arial;
    font-size: 15px;

}
.dumbellp5
{
    font-family: Arial;
    color: gray;
    position: absolute;
    margin-left:59.5pc;
    margin-top: 19pc;
    font-family: Arial; 
}
.tredmill
{
    position:absolute;
    height: 150px;
    margin-left: 70pc;
    margin-top:4pc;
    font-family: Arial;

}
.tredmilltext
{
    position: absolute;
    font-size: 15px;
    margin-top: 15pc;
    margin-left: 69pc;
    font-weight: 500;
    font-family: Arial;
}
#tredmilltext
{
    position: absolute;
    color: green;
    font-family: Arial;
    margin-left: 71.5pc;
    margin-top: 17pc;
    font-weight: 600;
    font-family: Arial;
    font-size: 15px;

}
.tredmillp6
{
    font-family: Arial;
    color: gray;
    position: absolute;
    margin-left:69pc;
    margin-top: 19pc;
    font-family: Arial; 
}
/* footer coding  */
.footer
{
    background-color: #172337;
    height: 330px;
    width: 100%;
    padding: 0;
   
}
ul
{
    display: flex;
    justify-content: flex-start;
    gap: 70px;
    position: sticky;
    top: 0;
}
li
{
    color:gray;
    list-style-type: none;
    font-family: Arial; 
    margin-top: 3pc;
    font-size: 14px;
    margin-left: 2pc;
    font-weight: 600;
   
   
}
li:hover
{
    text-decoration: underline white;
}

hr
{
    margin-left: 2pc;
    margin-top: 2.5pc;
  height: 10pc;
  opacity: 0.2;
  
}
.div4
{
    position: absolute;
    margin-top: 5pc;
    margin-left: -4px;
    font-weight: 600;
    font-weight: arial;
    

}
.colorwhite
{
    position: relative;
    color: white;
    font-size: 14.5px;
    font-weight: 600;
    margin-top: 12px;
    font-weight: arial;
   
}
.div5
{
    position: absolute;
    margin-top: 5pc;
    margin-left: 9pc;
    font-weight: 600;
    font-weight: arial;
    
}
.div6
{
    position: absolute;
    margin-top: 5pc;
    margin-left: 17.5pc;
    font-weight: 600;
    font-weight: arial;
    

}
.div7
{
    position: absolute;
    margin-top: 5pc;
    margin-left: 27.5pc;
    font-weight: 600;
    font-weight: arial;
    

}

/* right hand footer coding  */
.mailus
{
    position: absolute;
    margin-left: 42pc;
    font-weight: 500  ;
}
.p3
{
 position: absolute;
 font-size:12px;
 margin-top: 5pc;
 margin-left:42pc;
 color: rgb(228, 227, 227);
 font-family: Arial; 
 font-weight: 500  ;
}
.registered
{
    position: absolute;
    margin-left: 65pc;
    font-weight: lighter    ;
}
.p4
{
 position: absolute;
 font-size:12px;
 margin-top: 5pc;
 margin-left:65pc;
 color: rgb(228, 227, 227);
 font-family: Arial; 
 
}
/* down side footer */
.downhr
{
    position: absolute;
    width: 100%;
    height: 0;
    margin-left: -2px;
    margin-top: 6pc;
}

