*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#047BD5;
    min-height: 100vh;
    
    
}
.h5
{

    position: absolute;
    margin-top:-35pc;
    font-size: 50px;
    color: yellow;

}
.box
{
    position: relative;
    width: 380px;
    height: 420px;
    background-color: #333;
    border-radius: 8px;
    overflow: hidden;
    
}
.box::before
{
    content: '';
    position: absolute;
    width: 380px;
    top: -50%;
    left: -50%;
    height: 420px;
    background: 
    linear-gradient(0deg,transparent,yellow);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    
}
.box::after
{
    content: '';
    position: absolute;
    width: 380px;
    top: -50%;
    left: -50%;
    height: 420px;
    background: 
    linear-gradient(0deg,transparent,yellow);
    animation: animate 6s linear infinite;
    transform-origin: bottom right;
    animation-delay: 2.5s;
    
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);

    }
    100%
    {
        transform: rotate(360deg);
    }
}
.form
{
    position: absolute;
    background-color: #111;
    z-index: 10;
    border-radius: 8px;
    inset: 2px;
    border-radius: 8px;
    padding: 50px 40px;
    display: flex;
    flex-direction: column;
    
    

}
.form h2
{
    color: yellow;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;

}
.input box
{
    position: relative;
    width: 300px;
    margin-top: 35px;
    
}
.inputbox input
{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
   
    font-size: 1em;
    letter-spacing: 0.05em;
    margin-top: 60px;
    z-index: 10;
    color: white;
    
    
}
.inputbox span
{
    position:absolute;
    left: 40px;
    padding: 20px 10px 10px;
    font-size: 1em;
    color: #8f8f8f;
letter-spacing: 0.05em;
pointer-events: none;
transition: 0.5s;
margin-top:40px;


}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
    color: yellow;
    transform: translateX(-10px)  translateY(-34px);
}
.inputbox i
{
    position: absolute;
    left: 0;
    margin-left: 40px;
    height: 2px;
    width: 300px;
    margin-top: 100px;
    background: yellow;
    border-radius: 4px;
    pointer-events: none;
transition: 0.5s;
z-index: 10;

}
#forgetpassword
{
    position: absolute;
    color: #333;
    text-decoration: none;
    margin-top: 10px;
    font-size: 0.8em;
}
#signup
{
position: absolute;
margin-left: 250px;
margin-top: 10px;
text-decoration: none;
color: yellow;
font-weight: 500;
}
.login
{
    position: absolute;
    margin-top: 280px;
    width: 110px;
    height: 35px;
    background-color: yellow;
    border: none;
    border-radius: 4px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
    
}



